.container {
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 1px solid black;
    height: 5em;
    width: 5em;
    text-align: center;
    padding-top: 4em;
}

